@font-face{
	font-family: 'steinerlight';
    src:url(../fonts/steinerlight.EOT);
    src:url(../fonts/steinerlight.ttf);
    src:url(../fonts/steinerlight.svg);
    src:url(../fonts/steinerlight.woff);
}

h1{
	color: #930000;
}
body{
	background: url(../images/pattern.png) repeat;
	overflow-x: hidden;
}

/* ================================== Estilo para el logo ========================================= */



 #logo{
 	border: 0px solid;
	width: 80%;
	margin: 0px 0px 0px 30px;
	display: inline-block;
}

#redes{
	border: 0px solid;
	width: 9%;
	height: 50px;
	display: inline-block;
}

#redes img{
	width: 33px;
	height: 33px;
}


nav{
	background: #57a7b3;
	height: 50px;
	width: 100%;
	margin: 0px 0px 0px 0px;
	border-bottom: 5px solid #fff;
}

nav ul{
	padding: 0px;
	margin: 0px 0px 0px 10px;
}

nav ul li.menu{
	display: inline-block;
	transition: all 0.1s;
	padding: 0px 10px 0px 10px;
	background: url(../images/bg-li.png) no-repeat;
	vertical-align: top;
	
}

nav ul li.menu:hover{
	background: #033b43;
	transition: all 0.1s;
}

nav ul li.menu a{
	line-height: 50px;
	display: block;
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
	color: #fff;
	font-weight: bold;
	font-size: 25px;
	text-decoration: none;
	vertical-align: top;
	transition: all 0.1s;
}

nav ul li.menu a:hover{
	transition: all 0.1s;
	text-shadow: none;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);

}

nav ul li#facebook {
	margin:10px 0px 0px 250px;
	border:0px solid;
	display: inline-block;

}


nav ul li#twitter{
	margin:16px 0px 0px 10px;
	border:0px solid;
	display: inline-block;
	vertical-align: top;
}

nav ul li.menu ul{
	margin:0px 0px 0px -10px ;
	background: #57a7b3;
	position: absolute;
	z-index: 99999;


}

 ul li.submenu{
	padding: 0px 10px 0px 10px;
	list-style: none;
	display: block;
}

 ul li.submenu:hover{

	background: #033b43;
	color:  #3aad8b;
	transition: all 0.1s;

}








/* == estilo para la primera pagina efecto transit ==*/


#container{
	height: 563px;
	width: 1270px;
	overflow-x:scroll; 
	overflow-y:hidden;
	margin: 0px auto 0px auto;
}

#cont{
	height: 563px;
	width: 2580px;

}

#cont section#left{
	width: 50%;
	height: 563px;
	float: left;
	background: #fff;

}

#cont section#right{
	width: 50%;
	height: 563px;
	float: left;
	background: url(../images/pattern.png) repeat;
}



#content{
	height: 563px;
	width: 100%;
}

#content img{
	border: 0px solid;
	width: 1270px;
	position:absolute;
	transition: all 0.5s;

}


#content .patron {
		height: 563px;
	position: absolute;
	width: 1270px;
	z-index: 2;
	transition: all 0.5s;
}

#main {
	
	width: 100%;
	min-height: 563px;
	z-index: 2;
	position:absolute;
}

#main section#video{
	
	vertical-align: top;
	width: 50%;
	min-height: 500px;
	display: inline-block;
}
section#video h1{
	margin: 20px 0px 20px 10px;

}

#cont section#right h1{
	margin: 10px 0px 0px 0px;
}

#cont section#right h1 a{
	text-transform: uppercase;
	padding: 0px;
	color: #fff;
	font-family: 'Roboto Condensed', sans-serif;
	text-decoration: none;
	transition: all 0.5s;
	text-shadow: 1px 1px 1px rgba(0,0,0,1);
	font-size: 25px;
	margin: 10px 0px 0px 55px;
	text-align: center;
}
section#video h1 a{
	text-transform: uppercase;
	padding: 0px;
	color: #fff;
	font-family: 'Roboto Condensed', sans-serif;
	text-decoration: none;
	transition: all 0.5s;
	text-shadow: 1px 1px 1px rgba(0,0,0,1);
	font-size: 25px;
}
section#video h1 a:hover{
	text-shadow: 0px 0px 30px rgba(252,255,255,1);
	transition: all 0.5s;
}

section#video .cont-video{
	width: 90%;
	margin: 0px auto;
	border: 10px solid rgba(255, 255, 255, 0.3);
	border-radius: 10px;
}

section#video .cont-video iframe{
		padding: 0px;
}

#main section#formulario {
	border:0px solid;
	vertical-align: top;
	width: 49.3%;
	min-height: 500px;
	display: inline-block;
}


section#formulario #cont-formulario{
	padding: 10px;
	border:0px solid;
	width:70%;
	min-height: 460px;
	margin: 10px auto 0px auto;
	border-radius: 5px;
	background: #fff;
	box-shadow: 0px 5px 10px #B5C1C5, 0 0 0 10px #EEF5F7 inset;
}

#cont-formulario h2{
	padding: 10px;
	margin:0px 0px 0px 5%;
	color:#469fbf;

}

.forml input[type='text']{
	font-family: 'Roboto Condensed', sans-serif;
	border-radius: 4px;
	width: 70%;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
	margin: 10px 0px 10px 15%;
	height: 32px;
	border: 1px solid #CED5D7;
	padding-left:10px;  
}

.forml textarea{
	font-family: 'Roboto Condensed', sans-serif;
	border: 1px solid #CED5D7; 
	margin:0px 0px 20px 15%;
	width: 70%;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.2);

}

.forml input[type='submit']{ 
	font-family: 'Roboto Condensed', sans-serif;
	border: none;
	box-shadow: 0 0 0 3px #EEF5F7;
	padding: 8px 16px;
	border-radius: 5px;
	font-weight: bold;
	text-shadow: 1px 1px 0px black;
	color: #fff;
	margin: 0px 0px 10px 60%;
	background: #469fbf;
  }




.forml label{
	color:#469fbf;
	font-family: 'Roboto Condensed', sans-serif;
	margin:0px 0px 0px 15%;
	display: block;  
    font-weight: bold; 

}

/* contacto menu de navegacion */

section#formulario2 {
	border:0px solid;
	display: inline-block;
	margin-bottom: 50px;
	margin-top: 50px;
	width: 100%;
	min-height: 500px;
	
}


section#formulario2 #cont-formulario2{
	padding: 10px;
	border:0px solid;
	width:35%;
	min-height: 460px;
	margin: 50px 0px 0px 50px;
	display: inline-block;
	border-radius: 5px;
	background: #fff;
	box-shadow: 0px 5px 10px #B5C1C5, 0 0 0 10px #EEF5F7 inset;
}

#cont-formulario2 h2{
	padding: 10px;
	margin:0px 0px 0px 5%;
	color:#469fbf;

}

.forml2 input[type='text']{
	font-family: 'Roboto Condensed', sans-serif;
	border-radius: 4px;
	width: 70%;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
	margin: 10px 0px 10px 15%;
	height: 32px;
	border: 1px solid #CED5D7;
	padding-left:10px;  
}

.forml2 textarea{
	font-family: 'Roboto Condensed', sans-serif;
	border: 1px solid #CED5D7; 
	margin:0px 0px 20px 15%;
	width: 70%;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.2);

}

.forml2 input[type='submit']{ 
	font-family: 'Roboto Condensed', sans-serif;
	border: none;
	box-shadow: 0 0 0 3px #EEF5F7;
	padding: 8px 16px;
	border-radius: 5px;
	font-weight: bold;
	text-shadow: 1px 1px 0px black;
	color: #fff;
	margin: 0px 0px 10px 60%;
	background: #469fbf;
  }




.forml2 label{
	color:#469fbf;
	font-family: 'Roboto Condensed', sans-serif;
	margin:0px 0px 0px 15%;
	display: block;  
    font-weight: bold; 

}

#map{
	width: 45%;
	border: 3px solid #57a7b3 ;
	display: inline-block;
	vertical-align: top;
	margin: 50px 0px 0px 50px;
}




/* ============= estilo para la seecion oculta left ======================== */

#inf-left{
	
	width: 48%;
	height: 500px;
	display: inline-block;
	vertical-align: top;
	text-align:  center;
}
#inf-right{
	width: 48%;
	display: inline-block;
	margin-top: 20px;
	text-align:  center;
}

#inf-right p{
 text-align: left;
 border-left: 2px solid #c7deef;
 padding: 10px;
 font-family: georgia,arial;
 font-style: italic;
 font-size: 16px;
 line-height: 24px;
 color: #555e58;
 margin-bottom: 20px;h1
}

#gallery{
	width: 500px;
	margin: 10px auto 0px auto;
}

#inf-left #gallery img:hover{
	opacity: 0.5;
	transition: 0.5s all;
}

#inf-left #gallery img{
width: 100px;
margin: 5px;
border: 4px solid #469fbf;
border-radius: 5px;
box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
}

#gallery2{
	border:0px solid;
	width: 940px;
	margin: 0px auto;

}

#gallery2 img{
width: 213px;
height: 196px;
margin: 5px;
border: 4px solid #469fbf;
border-radius: 5px;
box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
}


#gallery2 img:hover{
	opacity: 0.5;
	transition: 0.5s all;
}





/*===========aqui conmiensan los estilo de la biografia*/


#info{
	border: 0px solid;
	width: 80%;
	margin: 0px auto;
	
		
}


#biografia{
	display: inline-block;
	border-right: 1px solid #e0dddd;
	width: 60%;
	background: #f4f4f4;
	vertical-align: top;
	
	

}

#biografia img{
	margin:80px 20px 20px 30px;
	box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
	width: 320px;
	height: 240px;
	float: left;
	


}

#biografia p{
	color: #555e58;
	font-style: italic;
	font-family: georgia;
	line-height: 30px;
	margin:0px 30px 20px 30px;
}

#biografia h1{
	color: #70a3af;
	margin-top: 80px;
	font-family: 'Roboto Condensed', sans-serif;
}


#qr{
	
	padding-top: 220px;
	display: inline-block;
	border: 0px solid;
	width: 39%;
	


}

#qr img{
	display: block;
	margin: 0px auto;

}

#qr p {
	width: 73%;
	float: right;
	border: 0px solid;
	color: #555e58;

}


#qr2{
	border: 0px solid;
	width: 100%;
	margin:30px 0px 30px 50px;
	


}

#qr2 img{
	float:left;
}


#qr2 p {
	width: 73%;
	border: 0px solid;
	color: #555e58;
	padding-top: 50px;

}

footer{
	border: 0px solid;
	background: #57a7b3;
	width: 100%;
	height: 70px;
}


/*quienes somos*/

#somos{
	border: 0px solid;
	width: 100%;
	height: 600px;
	background: url(../images/mujer2.jpg)no-repeat;
	margin-bottom: 50px;
	padding-left: 20px;

}


#somos h1{
	margin-top: 100px;
	color: #57a7b3;

}

#somos p{
color: #000;
	
}

